/* Full Page Background */
.auth-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffe4ec, #ffd6e7);
}

/* Card */
.auth-card {
  background: rgba(255, 255, 255, 0.9);
 
  padding: 40px;
  width: 400px;
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Heading */
.auth-card h2 {
  margin-bottom: 25px;
  color: #e75480;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: none;
  background: #2f2f2f;
  color: white;
  font-size: 14px;
}

.auth-card input::placeholder {
  color: #aaa;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #e75480;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-card button:hover {
  background: #d63c6b;
  transform: scale(1.02);
}

/* Switch text */
.auth-card p {
  margin-top: 18px;
  font-size: 14px;
}

.auth-card span {
  color: #e75480;
  font-weight: bold;
  cursor: pointer;
}

/* Dashboard */
.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffe4ec, #ffd6e7);
}